/* Reset */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-size: 14px;
    color: #000000;
}

.wrapper {
    margin-top: 2rem;
    width: 70%;
}

.main-title {
    font-weight: 900;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #9d9d9d;
}

.accordion {
    margin: 1rem 0;
}

.accordion__label h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6464da;
    transition: all 0.1s linear;
}

.accordion__img img {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 1rem;
}

.accordion__img {
    transition: all 0.5s linear;
    width: 30%;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
}
.accordion__item {
    padding: 1rem 0;
}
.accordion__item:not(:last-child) {
    border-bottom: 1px solid #9d9d9d;
}

.accordion__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion__row i {
    font-size: 1.3rem;
    display: none;
    transition: all 0.2s linear;
}

.accordion__item input {
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}


.accordion__item input:checked + label > .accordion__row .title {
    color: #000000;
}

.accordion__item:active .accordion__row{
    color: #6464da;
}
.accordion__item:active .accordion__row .title{
    color: #6464da;
}
.accordion__item:active .accordion__img img{
    opacity: 0.8;
}

.accordion__item input:checked + label > .accordion__img {
    height: 100%;
}

/* Media Queries */

@media (hover: hover) {
    .accordion:hover {
        cursor: pointer;
    }
    .accordion__label:hover{
        cursor: pointer;
    }
    .accordion:hover h2 {
        color: #000000;
    }
    .accordion:hover .accordion__row i {
        display: block;
    }
    .accordion__item:hover .accordion__img {
        height: 100%;
    }
    .accordion__item:hover i {
        transform: rotate(45deg);
    }
    .accordion__item:hover .accordion__img {
        height: 19rem;
    }
}

@media (max-width: 1079.98px) {
    .accordion__item:hover .accordion__img {
        height: 14rem;
    }
}

@media (max-width: 767.98px) {
    .accordion__label h2 {
        font-size: 1.2rem;
    }
    .accordion__row i {
        font-size: 1rem;
    }
    .main-title {
        font-size: 2rem;
    }
    .accordion__img img {
        margin-bottom: 0.5rem;
    }
    .accordion__item {
        padding: 0.5rem 0;
    }
    .accordion__item:hover .accordion__img {
        height: 10rem;
    }

}

@media (max-width: 479.98px) {
    .accordion__label h2 {
        font-size: 0.8rem;
    }
    .accordion__row i {
        font-size: 0.8rem;
    }
    .main-title {
        font-size: 1.6rem;
    }
    .accordion__img img {
        margin-bottom: 0.3rem;
    }
    .accordion__item {
        padding: 0.3rem 0;
    }
}