/* Reset */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-size: 14px;
    color: #000000;
}

.wrapper {
    margin-top: 2rem;
    width: 70%;
}

.main-title {
    font-weight: 900;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #9d9d9d;
}

.accordion {
    margin: 1rem 0;
}

.accordion h2 {
    color: rgb(100, 100, 218);
    transition: all 0.1s linear;
}

.accordion__item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    transform: scale(0);
    display: none;
    transition: transform 0.2s ease;
    margin-bottom: 1rem;
}
.accordion__item.active img {
    display: block;
    transform: scale(1);
}
.accordion__item.active i {
    transform: rotate(45deg);
}
.accordion__item.active h2 {
    color: #000000;
}
.accordion__img {
    width: 30%;
    margin: 0 auto;
}
.accordion__item {
    padding: 1rem 0 1rem 0;
}
.accordion__item:not(:last-child) {
    /* margin-bottom: 1.2rem; */
    border-bottom: 1px solid #9d9d9d;
}

.accordion__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion__row i {
    font-size: 1.3rem;
    display: none;
}

/* Media Queries */

@media (hover: hover) {
    .accordion:hover {
        cursor: pointer;
    }
    .accordion:hover h2 {
        color: #000000;
    }
    .accordion:hover .accordion__row i {
        display: block;
    }
    .accordion__item:hover img {
        display: block;
        transform: scale(1);
        transition: transform 0.2s ease;
    }
    .accordion__item:hover i {
        transform: rotate(45deg);
    }
}